<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Un aperçu de l'écosystème PaaS chez OVH</h1>
        <p class="lead">Bonjour et merci pour l'attention que vous portez à nos plateformes.</p>
        <p>Durant cette heure et demie, vous aurez l'occasion d'aborder par vous même nos trois technologies: <a ui-sref="logs">Logs</a>, <a ui-sref="metrics">Metrics</a> et <a ui-sref="functions">Functions</a>.</p>
        <p>Pour cela, nous vous avons installé pour chacun des postes, un serveur pré-configuré qui exportent ses logs et métriques sur nos plateformes.<br/>Vous trouverez l'ensemble des accès sur cette <a ui-sref="tools">page</a>.</p>
        <p>Pour appréhender chacune de ces technologies nous vous proposons des petits étapes à exécuter sur votre poste ou sur votre serveur.</p>
        <p></p>
        <h3>Amusez-vous bien et n'hésitez pas à nous solliciter !</h3>

    </div>
</div>
